label#check {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

label#check:hover {
    cursor: pointer;
}

label input[type="checkbox"] {
    opacity: 0;
    display: none;
}

.check {
    display: block;
    width: 40px;
    height: 23px;
    border: 1px solid #bbb;
    border-radius: 40px;
    transition: 0.5s;
    margin-right: 2px;
    left: 50%;
}

label input[type="checkbox"]:checked~.check {
    border: 1px solid #000;
}

.check::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
    box-sizing: border-box;
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px #bbb;
    transition: 0.5s;
}

label input[type="checkbox"]:checked~.check::before {
    box-shadow: inset 0 0 0 1px #000;
    background: #000;
    transform: translateX(17px);
}

.text {
    display: block;
    position: absolute;
    top: -5px;
    left: calc(50% + 28px);
    width: 80px;
    font-size: 20px;
    transition: 0.5s;
    font-weight: bold;
    color: #bbb;
}

.text.usar {
    transform: translateY(20px);
    opacity: 0;
}

label input[type="checkbox"]:checked~.text.usar {
    transform: translateY(0);
    opacity: 1;
    color: #000;
}

label input[type="checkbox"]:checked~.text.no-usar {
    transform: translateY(-20px);
    opacity: 0;
    color: #000;
}